---
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Astro Toolbox">
  <main>
    <div class="header">
      <div class="logo">
      <h1>The People's Browser</h1>
      </div>
    </div>
    <div class="intro">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Has there been any thought to making a simple Chromium fork that is compatible with <a href="https://twitter.com/JpegXl?ref_src=twsrc%5Etfw">@JpegXL</a>?<br><br>It could also open a door to some impactful browser tweaks — e.g. <a href="https://twitter.com/htmx_org?ref_src=twsrc%5Etfw">@htmx_org</a> <a href="https://twitter.com/hashtag/HTMX?src=hash&amp;ref_src=twsrc%5Etfw">#HTMX</a> compatibility, <a href="https://twitter.com/hashtag/LibRedirect?src=hash&amp;ref_src=twsrc%5Etfw">#LibRedirect</a> (<a href="https://t.co/334KVJ05pA">https://t.co/334KVJ05pA</a>) by default — and general browser experimentation.</p>&mdash; Sam Butler (@sambutlerUS) <a href="https://twitter.com/sambutlerUS/status/1610706291017523202?ref_src=twsrc%5Etfw">January 4, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <FeedbackForm />
    <!-- <a class="jokes-link" href="/api/joke">
    <h3>
      Click here for function-loaded jokes!
    </h3>
    </a> -->
    <footer class="footer">
    </footer>
  </main>
</Layout>

<style>
  :root {
    text-align: center;
  }
  .logo img {
    padding: 30px 0;
    width: 100%;
  }

  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 60ch;
    align-items: center;
  } 

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 20px;
  }
</style>
