---
---

  <p>Feel free to reply and build the conversation on <a href="https://github.com/sbutler-gh/peoples-browser">GitHub</a>, <a href="https://twitter.com/sambutlerUS/status/1610706291017523202?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1610706291017523202%7Ctwgr%5E6021ed29aa064db571c4b204f9eab7922713edc1%7Ctwcon%5Es1_&ref_url=http%3A%2F%2Flocalhost%3A3000%2F">Twitter</a>, or <a href="https://kolektiva.social/@sambutlerUS/109632390661735489">the Fediverse</a>, or drop your email and any comments below to start organizing.</p>
  <div class="feedback-form">
      <form
        netlify
        netlify-honeypot
        name="feedback"
        method="POST"
        action="/success"
      >
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="feedback" />
        <label for="name">Name</label>
        <input id="name" type="text" name="name" />
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
        <label for="feedback">What is your feedback?</label>
        <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
        <button type="submit">Submit</button>
      </form>
  </div>

<style>
  .feedback-form {
  margin: 40px 40px;
  min-width: 250px;
  width: 45%;
}
input,
textarea,
button {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}
button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
</style>

